<nav>
    <ul>
        <li><a href="/">Hot Club of Urbana</a></li>
        <li>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>