<nav>
    <ul>
        <li><a href="/">Hot Club of Urbana</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/listen">Listen</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>